{{define "index"}}
{{template "_head"}}
<body>
    <nav class="navbar navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/" style="font-size: 2rem;">Loja</a>
    </nav>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Cód.</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Codigo}}</td>
                            <td>{{.Descricao}}</td>
                            <td>{{.Preco}}</td>
                            <td>{{.Quantidade}}</td>
                            <td><a href="/edit?id={{.Codigo}}" class="btn btn-info">Editar</a></td>
                            <td><button class="btn btn-danger" onclick="onDelete('{{.Codigo}}')">Deletar</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="card-footer">
            <a href="/cadastraProdutos" class="btn btn-primary mb-2">Cadastra Produto</a>
        </div>
    </div>
</body>

<script>
    function onDelete(pCodigo) {
        let resp = confirm("Deseja remover esse produto")
        if (resp) {
            window.location = "/delete?id=" + pCodigo
        }
    }
</script>

</html>
{{end}}